extends layout.server.view.jade

block content
	h1 Page Not Found
	div(class="alert alert-danger",role="alert")
	span(class="glyphicon glyphicon-exclamation-sign" ,aria-hidden="true")
	span(class="sr-only") Error:
	pre.
		#{url} is not a valid path.

